@{
    ViewData["Title"] = "Log";
    ViewData["Desc"] = "View event logs of the application";

    int Successes = Log._history.Count(x => x.error == LogError.Success);
    int Failures = Log._history.Count(x => x.error == LogError.Failure);
    int Warnings = Log._history.Count(x => x.error == LogError.Warning);
    int Infos = Log._history.Count(x => x.error == LogError.Info);
    float total = Successes + Failures + Warnings + Infos;
    total /= 100.0f;
}

<div class="card border-primary">
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: @(Successes/total)%;"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: @(Failures/total)%;"></div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: @(Warnings/total)%;"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: @(Infos/total)%;"></div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Message</th>
                <th scope="col">When</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i= Log._history.Count-1; i >= 0;i--)
                {
                    LogEntry logEntry = Log._history[i];
                    <tr class="@(Log.GetRowColor(logEntry))" title="A Row">
                        <td>@logEntry.message</td>
                        <td>@logEntry.when</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
