@model Model.Models.Spotify
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<SpotterAzure_dbContext> dbContexts
@{
    ViewData["Title"] = "Settings";
    ViewData["Desc"] = "Change your Spotter settings";

    SpotterAzure_dbContext dbContext = dbContexts.CreateDbContext();

    Setting _setting = dbContext.Settings.First(x => x.SpotId == Model.SpotId);
    dbContext.Entry(_setting).Reload();
}

<div class="card border-primary">
    <div class="card-body">
        <form action="api/update" method="post">
            <fieldset>
                <legend>Remove Skipped Songs</legend>
                <div class="form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="_SkipOn" name="SkipOn" checked="@(_setting.SkipOn)">
                    <label class="custom-control-label" for="_SkipOn">Enable Skipping</label>
                </div>

                <div class="form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="_SkipIgnorePlaylist" name="SkipIgnorePlaylist" checked="@(_setting.SkipIgnorePlaylist)">
                    <label class="custom-control-label" for="_SkipIgnorePlaylist">Ignore Songs Played From Playlist</label>
                </div>

                <div class="form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="_SkipRemoveFromPlaylist" name="SkipRemoveFromPlaylist" checked="@(_setting.SkipRemoveFromPlaylist)">
                    <label class="custom-control-label" for="_SkipRemoveFromPlaylist">Remove Skipped Songs From Playlists</label>
                </div>

                <div class="form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="_SkipMustBeLiked" name="SkipMustBeLiked" checked="@(_setting.SkipMustBeLiked)">
                    <label class="custom-control-label" for="_SkipMustBeLiked">Song Must Be Liked</label>
                </div>

                <div class="form-group">
                    <label for="_SkipTrigger">Remove After # of Skips (Currently: @_setting.SkipTrigger)</label>
                    <select class="form-control" id="_SkipTrigger" name="SkipTrigger">
                        @{
                            for (int i = 1; i <= 20; i++)
                            {
                                if (i == _setting.SkipTrigger)
                                {
                                    <option selected>@i</option>
                                }
                                else
                                {
                                    <option>@i</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="_SkipExpiryHours">Skip Expires After # of Days (Currently: @(_setting.SkipExpiryHours/24))</label>
                    <select class="form-control" id="_SkipExpiryHours" name="SkipExpiryHours">
                        @{
                            for (int i = 1; i <= 365; i++)
                            {
                                if (i == _setting.SkipExpiryHours / 24)
                                {
                                    <option selected>@i</option>
                                }
                                else
                                {
                                    <option>@i</option>
                                }
                            }
                        }
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend>Better Shuffle</legend>

                <div class="form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="_ShuffleOn" name="ShuffleOn" checked="@(_setting.ShuffleOn)">
                    <label class="custom-control-label" for="_ShuffleOn">Enable Better Shuffle</label>
                </div>

                <div class="form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="_ShuffleAlbums" name="ShuffleAlbums" checked="@(_setting.ShuffleAlbums)">
                    <label class="custom-control-label" for="_ShuffleAlbums">Shuffle When Playing an Album</label>
                </div>

                <div class="form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="_ShufflePlaylists" name="ShufflePlaylists" checked="@(_setting.ShufflePlaylists)">
                    <label class="custom-control-label" for="_ShufflePlaylists">Shuffle When Playing an Playlist</label>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-success" style="float: right">Update</button>
        </form>
    </div>
</div>
